:local(.credentials) {

  button {
    cursor: pointer;
    margin: 4px;
    font-size: 12px;
    border: 2px solid steelblue;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  button:hover {
      background-color: steelblue; 
      color: white;
  }

}